.ui.divided.selection.list.plan-features
  .item= page_count_string(subscription_plan)
  .item= giveaway_count_string(subscription_plan)
  .item= analytics_string(subscription_plan)
  .item= schedule_string(subscription_plan)
  .item= viral_referrals_string(subscription_plan)
  .item= shortlink_string(subscription_plan)
  .item= white_label_string(subscription_plan)
