.four.wide.column.subscription-plan{id: subscription_plan_id(subscription_plan)}
  .ui.top.attached.segment
    .ui.header
      .number.price= subscription_plan.price
  .ui.inverted.teal.attached.segment.plan-name
    %h5.ui.header
      = basic_plan_name_string(subscription_plan)
      .ui.inverted.teal.sub.header
        = plan_recurring_string(subscription_plan)
  .ui.bottom.attached.stacked.segment
    .ui.divided.selection.list
      .item= page_count_feature_string(subscription_plan)
      .item= giveaway_count_feature_string(subscription_plan)
      .item Advanced Analytics
      .item Giveaway Shortlink
      .item= white_label_feature_string(subscription_plan)

:javascript
  $('##{subscription_plan_id(subscription_plan)}').click(function(e) {
    handler.open({
      name: 'Simple Giveaways',
      description: '#{subscription_plan.name}',
      amount: '#{subscription_plan.price_in_cents_per_cycle}',
      email: '#{current_user.email}'
    })
    e.preventDefault();
  });
