- is_current_plan = sub_object && sub_object.subscription_plan && sub_object.subscription_plan.id == subscription_plan.id

- is_next_plan = sub_object && sub_object.subscription_plan && sub_object.next_plan && sub_object.next_plan_id == subscription_plan.id

.col-sm-4
  %section.panel.panel-default.subscription-plan{id: subscription_plan.stripe_subscription_id, class: "#{is_current_plan ? 'current-subscription' : ''}", data: { description: subscription_plan.name, original_amount: subscription_plan.price_in_cents_per_cycle, checkout_amount: subscription_plan.price_in_cents_per_cycle, subscription_plan_id: subscription_plan.id, is_single_page: "#{subscription_plan.is_single_page?}", is_next_plan: "#{is_next_plan}", is_current_plan: "#{is_current_plan}" }}
    %header.panel-heading.bg-info.lt.no-border.text-center
      .h3.m-t-xs.m-b-xs.text-white
        .plan-name= basic_plan_name_string(subscription_plan)
      .h4.m-b-xs.text-white
        .price-label= price_label(subscription_plan)
    = render 'subscription_plans/features', subscription_plan: subscription_plan
    = render 'subscription_plans/page_selector', subscription_plan: subscription_plan, is_current_plan: is_current_plan, is_next_plan: is_next_plan, sub_object: sub_object
    = render 'subscription_plans/footer', is_current_plan: is_current_plan, is_next_plan: is_next_plan, sub_object: sub_object
