= form_for @entry do |f|
  = f.error_messages
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :has_liked_primary
    %br/
    = f.check_box :has_liked_primary
  %p
    = f.label :has_liked_mandatory
    %br/
    = f.check_box :has_liked_mandatory
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :fb_url
    %br/
    = f.text_field :fb_url
  %p
    = f.label :datetime_entered
    %br/
    = f.datetime_select :datetime_entered
  %p
    = f.label :has_shared
    %br/
    = f.check_box :has_shared
  %p
    = f.label :share_count
    %br/
    = f.text_field :share_count
  %p
    = f.label :invite_count
    %br/
    = f.text_field :invite_count
  %p
    = f.label :convert_count
    %br/
    = f.text_field :convert_count
  %p= f.submit
