<%= form_for @entry do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :has_liked_primary %><br />
    <%= f.check_box :has_liked_primary %>
  </p>
  <p>
    <%= f.label :has_liked_mandatory %><br />
    <%= f.check_box :has_liked_mandatory %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :fb_url %><br />
    <%= f.text_field :fb_url %>
  </p>
  <p>
    <%= f.label :datetime_entered %><br />
    <%= f.datetime_select :datetime_entered %>
  </p>
  <p>
    <%= f.label :has_shared %><br />
    <%= f.check_box :has_shared %>
  </p>
  <p>
    <%= f.label :share_count %><br />
    <%= f.text_field :share_count %>
  </p>
  <p>
    <%= f.label :invite_count %><br />
    <%= f.text_field :invite_count %>
  </p>
  <p>
    <%= f.label :convert_count %><br />
    <%= f.text_field :convert_count %>
  </p>
  <p><%= f.submit %></p>
<% end %>
