= f.input :email_required, as: :boolean, input_html: { checked: true, 'data-trigger' => 'change', 'data-required' => 'true' }, label: 'Email Required for Entry'

= f.input :autoshow_share_dialog, as: :boolean, label: 'Autoshow Share Dialog', html: { 'data-trigger' => 'change', 'data-required' => 'true' }

= f.input :allow_multi_entries, as: :boolean, label: 'Allow Multiple Entries Per User', html: { 'data-trigger' => 'change', 'data-required' => 'true' }

- if f.object.facebook_page.canhaz_referral_tracking? || f.object.allow_multi_entries == "1"

  = f.input :bonus_value, as: :string, input_html: { value: '5', placeholder: 'Bonus Entry Value', 'data-trigger' => 'change', 'data-required' => 'true' }, label: 'Bonus Entry Value'

- else

  = f.input :bonus_value, as: :string, input_html: { value: '', placeholder: 'Bonus Entry Value' }, label: 'Bonus Entry Value', wrapper_html: { style: 'display:none', id: 'bonus_value_wrapper' }
