%p.fieldset-help
  %i.icon-info-sign
  You may leave this blank for now if you don't yet know your schedule.
= f.input :start_date, as: :ui_date_time_picker, input_html: { class: "start-date input-mini" },
                       label: "Start Date/Time",
                       start_year: Date.today.year - 1,
                       end_year: Date.today.year + 5,
                       order: [:month, :day, :year],
                       use_short_month: true,
                       include_blank: true,
                       ampm: true,
                       hint: "All times are in <strong> #{Time.now.zone}</strong> where it is currently <strong>#{Time.zone.now.to_formatted_s(:time)}</strong>."
= f.input :end_date, as: :ui_date_time_picker, input_html: { class: "end-date input-mini" },
                     label: "End Date/Time".html_safe,
                     start_year: Date.today.year - 1,
                     end_year: Date.today.year + 5,
                     order: [:month, :day, :year],
                     use_short_month: true,
                     include_blank: true,
                     ampm: true,
                     hint: "All times are in <strong> #{Time.now.zone}</strong> where it is currently <strong>#{Time.zone.now.to_formatted_s(:time)}</strong>."

:javascript
  $(function() {

    $('input.ui-datetime-picker.start-date').datetimepicker({
      ampm: true,
      dateFormat: 'D, dd M yy',
      timeFormat: 'hh:mm TT',
      stepMinute: 15,
      onClose: function(dateText, inst) {
          var endDateTextBox = $('#example16_end');
          if (endDateTextBox.val() != '') {
              var testStartDate = new Date(dateText);
              var testEndDate = new Date(endDateTextBox.val());
              if (testStartDate > testEndDate)
                  endDateTextBox.val(dateText);
          }
          else {
              endDateTextBox.val(dateText);
          }
      },
      onSelect: function (selectedDateTime){
          var start = $(this).datetimepicker('getDate');
          $('#example16_end').datetimepicker('option', 'minDate', new Date(start.getTime()));
      }
    });

    $('input.ui-datetime-picker.end-date').datetimepicker({
      ampm: true,
      dateFormat: 'D, dd M yy',
      timeFormat: 'hh:mm TT',
      stepMinute: 15,
      onClose: function(dateText, inst) {
          var startDateTextBox = $('#example16_start');
          if (startDateTextBox.val() != '') {
              var testStartDate = new Date(startDateTextBox.val());
              var testEndDate = new Date(dateText);
              if (testStartDate > testEndDate)
                  startDateTextBox.val(dateText);
          }
          else {
              startDateTextBox.val(dateText);
          }
      },
      onSelect: function (selectedDateTime){
          var end = $(this).datetimepicker('getDate');
          $('#example16_start').datetimepicker('option', 'maxDate', new Date(end.getTime()) );
      }
    });
  });
