<%= form_for @credit_card do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :street_address_1 %><br />
    <%= f.text_field :street_address_1 %>
  </p>
  <p>
    <%= f.label :street_address_2 %><br />
    <%= f.text_field :street_address_2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :expiration %><br />
    <%= f.date_select :expiration %>
  </p>
  <p>
    <%= f.label :cvv %><br />
    <%= f.text_field :cvv %>
  </p>
  <p><%= f.submit %></p>
<% end %>
