- if page.audits.any? && flot[:page_likes]

  .graphs
    = stylesheet_link_tag :graph

    %section.panel.panel-default
      %header.panel-heading.font-bold Performance
      .panel-body
        #graph_legend
        #graph_placeholder

    .row
      .col-lg-4
        %section.panel.panel-default.chart-panel
          %header.panel-heading
            %strong Visitors
            %span.pull-right Like Status
          .panel-body.text-center
            .sparkline.inline{"data-height" => "150", "data-slice-colors" => "['#fb6b5b','#eee']", "data-type" => "pie", values: "#{giveaway.fan_uniques},#{giveaway.non_fan_uniques}"}
            .line.pull-in
            .text-xs
              .col-xs-6
                %span
                  %i.fa.fa-circle.text-danger
                  = giveaway.fan_uniques
                  %br
                  Had Already Liked
              .col-xs-6
                %span
                  %i.fa.fa-circle.text-muted
                  = giveaway.non_fan_uniques
                  %br
                  Had Not Yet Liked
      .col-lg-4
        %section.panel.panel-default.chart-panel
          %header.panel-heading
            %strong Visitors
            %span.pull-right Virality
          .panel-body.text-center
            .sparkline.inline{"data-height" => "150", "data-slice-colors" => "['#fb6b5b','#eee']", "data-type" => "pie", values: "#{giveaway.viral_uniques},#{giveaway.direct_uniques}"}
            .line.pull-in
            .text-xs
              .col-xs-6
                %span
                  %i.fa.fa-circle.text-danger
                  = giveaway.viral_uniques
                  %br
                  Viral
              .col-xs-6
                %span
                  %i.fa.fa-circle.text-muted
                  = giveaway.direct_uniques
                  %br
                  Direct
      .col-lg-4
        %section.panel.panel-default.chart-panel
          %header.panel-heading
            %strong Conversion Rate
            %span.pull-right Likes
          .panel-body.text-center
            .inline
              .easypiechart.easyPieChart{"data-bar-color" => "#4cc0c1", "data-line-cap" => "butt", "data-line-width" => "30", "data-percent" => "#{giveaway.fan_conversion_rate.gsub('%', '')}", "data-scale-color" => "#fff", "data-size" => "200", "data-track-color" => "#eee", style: "width: 200px; height: 200px; line-height: 188px;"}
                %span.h2.step> #{giveaway.fan_conversion_rate.gsub('%', '')}
                \%
                .easypie-text became fans


    :javascript
      SG.Graphs.pageLikes = #{flot[:page_likes]};
      SG.Graphs.netLikes = #{flot[:net_likes]};
      SG.Graphs.shares = #{flot[:shares]};
      SG.Graphs.entries = #{flot[:entries]};
      SG.Graphs.views = #{flot[:views]};

