<%= title "My Account" %>
<%= h1 "My Account" %>

<h2><%= @user.name %></h2>

<%= render "subnav" %>

<article class="module giveaways">
	<%= render "giveaways" %>
</article>

<article class="module facebook-pages">
	<%= render "facebook_pages" %>
</article>