:javascript
  var simpleGiveaways = (function() {

    return {

      config: {
        port: '#{ENV["PORT"]}',
        fb_app_id: '#{FB_APP_ID}'
      },

      current_user: {},

      active_giveaway: {},

      csrf: function() {
        return $("meta[name='csrf-token']").attr("content");
      },

      utils: {

        getURLParameter: function(name) {
          return decodeURI(
            (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, false])[1]
          );
        }
      }
    }
  }());

- if @page
  :javascript
    SG.currentPageId = '#{@page.id}';
    SG.Paths.facebookPage = '#{facebook_page_path(@page)}';
    SG.Paths.checkSchedule = '#{check_schedule_facebook_page_giveaways_path(@page)}';
    SG.Paths.subscriptionPlans = '#{facebook_page_subscription_plans_path(@page)}';
    SG.Paths.pageSubscribe = '#{facebook_page_subscribe_path(@page)}';

  - if @page.has_active_subscription?
    :javascript
      SG.currentPageSubscribed = true;

- if @giveaway
  :javascript
    SG.currentGiveawayId = '#{@giveaway.id}';

- if current_user && current_user.fb_uid
  :javascript
    simpleGiveaways["current_user"]["name"] = '#{current_user.name}';
    simpleGiveaways["current_user"]["fb_uid"] = '#{current_user.fb_uid}';
    simpleGiveaways["current_user"]["email"] = '#{current_user.email}';
    SG.StripeClient.publishableKey = '#{Rails.configuration.stripe.publishable_key}';
    SG.Paths.userPages = '#{facebook_pages_path}';
    SG.Paths.userSubscribe = '#{user_subscribe_path(current_user)}';
    SG.userJustSubscribed = '#{session.delete(:just_subscribed)}'

- if session[:proposed_end_date]
  :javascript
    SG.proposedEndDate = '#{session[:proposed_end_date]}';

- if session[:proposed_tab_name]
  :javascript
    SG.proposedTabName = '#{session[:proposed_tab_name]}';
