:javascript
  var simpleGiveaways = (function() {

    return {

      config: {
        port: '#{ENV["PORT"]}',
        fb_app_id: '#{FB_APP_ID}'
      },

      current_user: {},

      active_giveaway: {},

      csrf: function() {
        return $("meta[name='csrf-token']").attr("content");
      },

      utils: {

        getURLParameter: function(name) {
          return decodeURI(
            (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, false])[1]
          );
        }
      }
    }
  }());

- if @page
  :javascript
    SG.currentPageId = '#{@page.id}';
    SG.Paths.facebookPage = '#{facebook_page_path(@page)}';
    SG.Paths.checkSchedule = '#{check_schedule_facebook_page_giveaways_path(@page)}';
    SG.Paths.subscriptionPlans = '#{facebook_page_subscription_plans_path(@page)}';
    SG.Paths.subscribe = '#{subscribe_path(@page)}';
    SG.StripeClient.publishableKey = '#{Rails.configuration.stripe.publishable_key}';

- if @giveaway
  :javascript
    SG.currentGiveawayId = '#{@giveaway.id}';

- if current_user && current_user.fb_uid
  :javascript
    simpleGiveaways["current_user"]["name"] = '#{current_user.name}';
    simpleGiveaways["current_user"]["fb_uid"] = '#{current_user.fb_uid}';
    simpleGiveaways["current_user"]["email"] = '#{current_user.email}';
