.inner
  %h1= link_to image_tag('/assets/logo.png', alt: 'Simple Giveaways'), root_path

  #primary_content
    %p.beta-text
      %b Welcome!
      %br
      We are currently in closed beta.
      Please leave your email address to be notified when we launch.

      = render 'form'

    %hr
    = link_to '/auth/facebook', class: 'media btn btn-large' do
      = image_tag '/assets/facebook-32px.png', alt: "If you've already been invited,
        sign in here with Facebook.", class: 'media-object pull-right'
      .media-body
        %p If you've already been invited, <strong>sign in here with Facebook</strong>.

  %footer= "&copy; #{Time.now.year} Switchrails".html_safe

:javascript
  $(function() {
    $('body').noisy({
      'intensity' : 0.061,
      'size' : '300',
      'opacity' : 0.08,
      'fallback' : '#DFE3E8',
      'monochrome' : false
    }).css('background-color', '#DFE3E8');
  });
