- size_class ||= 'btn-lg'

= link_to 'New Giveaway', new_facebook_page_giveaway_path(facebook_page), class: "btn #{size_class} btn-default"
= link_to 'Active Giveaway', active_facebook_page_giveaways_path(facebook_page), class: "btn #{size_class} btn-default"
= link_to 'Pending Giveaways', pending_facebook_page_giveaways_path(facebook_page), class: "btn #{size_class} btn-default"
= link_to 'Completed Giveaways', completed_facebook_page_giveaways_path(facebook_page), class: "btn #{size_class} btn-default"
