.item.facebook-page{ :'data-fb-pid' => facebook_page.pid }
  = link_to '', facebook_page_path(facebook_page), class: 'ui circular image', style: "background-image: url('#{facebook_page.avatar_large}');"
  .content.meta
    = link_to facebook_page.name, facebook_page_path(facebook_page), class: 'header'
    %small #{facebook_page.likes} Likes
  .content
    = render 'facebook_pages/navigation/primary', facebook_page: facebook_page


