- content_for(:page_heading) do
  = @page.name

= render "navigation"

.tab-content
  #page_overview.tab-pane.active
    = render "overview"
  #page_giveaways_active.tab-pane
    = render :collection => Giveaway.active, :partial => "giveaways/giveaway"
  #page_giveaways_pending.tab-pane
    = render :collection => Giveaway.pending, :partial => "giveaways/giveaway"
  #page_giveaways_completed.tab-pane
    = render :collection => Giveaway.completed, :partial => "giveaways/giveaway"
  #page_activity_feed.tab-pane
    activity_feed

