#step_two.modal-step.hide{:'data-modal-step' => 2}
  .ui.grid
    = render 'giveaways/actions/avatars', giveaway: giveaway
    .row
      .sixteen.wide.column
        - if facebook_page.has_active_subscription?
          = render 'giveaways/actions/active_subscription', facebook_page: facebook_page
        - elsif facebook_page.has_inactive_subscription?
          = render 'giveaways/actions/inactive_subscription', facebook_page: facebook_page
        - elsif facebook_page.has_free_trial_remaining?
          = render 'giveaways/actions/free_trial_remaining', facebook_page: facebook_page
          = render 'subscription_plans/plans', facebook_page: facebook_page
        - else
          = render 'giveaways/actions/no_subscription', facebook_page: facebook_page
