- content_for :content_header do

  .end-giveaway-button
    = link_to "<i class='icon-remove icon-white'></i> End Now".html_safe, "#end_confirm_#{giveaway.id}", class: "btn btn-end btn-danger btn-small", :"data-toggle" => "modal"

    .modal.hide.fade{ id: "end_confirm_#{giveaway.id}" }
      .modal-header
        %a.close{ :"data-dismiss" => "modal" }
          x
        %h3 End Giveaway #{giveaway.title}
      .modal-body
        = link_to "<i class='icon-remove icon-white'></i> Yes End The Giveaway Now".html_safe, end_facebook_page_giveaway_path(@page, giveaway), class: "btn btn-xlarge"
        %p If you want to only modify the end time of the giveaway click here to view and edit the giveaway details.

  .countdown-timer
    %p
      %span Ends in
      %span#weeks.time
      %span.text Weeks,
      %span#daysLeft.time
      %span.text Days,
      %span#hours.time
      %span.text Hours, and
      %span#minutes.time
      %span.text Minutes

%header.giveaway.active.thumbnail
  .meta
    %h1= truncate(giveaway.title, length: 26)
    %p is #{giveaway.status}
    .dates
      %p Started on #{datetime_mdy(giveaway.start_date)}
      %p Ends on #{datetime_mdy(giveaway.end_date)}
    = link_to "<i class='icon-eye-open'></i> View Details".html_safe, facebook_page_giveaway_path(@page, giveaway), class: "btn btn-large"
  .image= image_tag(giveaway.image(:medium))

= render 'stats', giveaway: giveaway
= render 'graphs', giveaway: giveaway
= render 'entries', giveaway: giveaway

:javascript
  $(function() {

    var currentDate = new Date();
    $('div.countdown-timer').countdown("#{giveaway.end_date.strftime("%m/%d/%Y %H:%M:%S")}", function(event) {
      var $this = $(this);
      switch(event.type) {
        case "seconds":
        case "minutes":
        case "hours":
        case "days":
        case "weeks":
        case "daysLeft":
          $this.find('span#'+event.type).html(event.value);
          break;
        case "finished":
          $this.fadeTo('slow', .5);
          break;
      }
    });
  });
