#giveaway_details

  .row

    .col-md-6.m-t-xs

      .btn-group.btn-group-relaxed.m-b
        - if giveaway.active?
          = link_to '<i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit'.html_safe, edit_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), id: 'edit_giveaway', class: "btn btn-lg btn-default btn-left"
        - elsif giveaway.pending?
          = link_to '<i class="fa fa-bolt"></i>&nbsp;&nbsp;Start'.html_safe, start_modal_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), id: 'start_giveaway', class: "btn btn-lg btn-primary btn-left", 'data-toggle' => 'modal', 'data-target' => '#start_giveaway_modal'
        - elsif giveaway.completed?
          = link_to "<i class='fa fa-copy'></i>&nbsp;&nbsp;Clone".html_safe, clone_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), class: "btn btn-lg btn-default btn-left"

        - if giveaway.completed?
          = link_to '<i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete'.html_safe, facebook_page_giveaway_path(giveaway.facebook_page, giveaway), method: :delete, class: "btn btn-lg btn-danger btn-right", confirm: "Are you sure you want to delete this giveaway?  You will no longer be able to access the giveaway details and performance data if you proceed."
        - elsif giveaway.pending?
          = link_to '<i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit'.html_safe, edit_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), id: 'edit_giveaway', class: "btn btn-lg btn-default btn-right"
        - elsif giveaway.active?
          = link_to '<i class="fa fa-legal"></i>&nbsp;&nbsp;End Now'.html_safe, end_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), class: 'btn btn-lg btn-danger btn-right end-giveaway-button'

      = render 'giveaways/details/basic_info', giveaway: giveaway

      = render 'giveaways/details/schedule', giveaway: giveaway

      = render 'giveaways/details/preferences', giveaway: giveaway

      = render 'giveaways/details/terms', giveaway: giveaway

    .col-md-6.m-t-xs

      = render 'giveaways/details/giveaway_image', giveaway: giveaway

      = render 'giveaways/details/feed_image', giveaway: giveaway
