.ui.segment

  = status_label(giveaway)

  .ui.relaxed.stackable.grid

    .row
      .eight.wide.column

        = render 'giveaways/details/basic_info', giveaway: giveaway

      .eight.wide.column

        = render 'giveaways/details/schedule', giveaway: giveaway

        = render 'giveaways/details/terms', giveaway: giveaway

        = render 'giveaways/details/preferences', giveaway: giveaway

    .row
      .sixteen.wide.column

        = render 'giveaways/details/images', giveaway: giveaway
