#giveaway_details

  .row
    .col-lg-6

      = render 'giveaways/details/basic_info', giveaway: giveaway

    .col-lg-6

      = render 'giveaways/details/schedule', giveaway: giveaway

      = render 'giveaways/details/terms', giveaway: giveaway

      = render 'giveaways/details/preferences', giveaway: giveaway

  .row
    .col-lg-12

      = render 'giveaways/details/images', giveaway: giveaway
