.alert.alert-error
  %p 
    Ended Giveaways
- @page.giveaways.each do |giveaway|
  .giveaway
    %section.giveaway-header
      = image_tag(giveaway.feed_image, :width => "90", :height => "90")
      .giveaway-title
        %h1= link_to giveaway.title, giveaway_path(giveaway)
        .buttons
          .modal.hide.fade{ :id => "stats"+"#{giveaway.id}"+"modal" }
            .modal-header
              %a.close{ :"data-dismiss" => "modal"}
                x
              %h3 Stats for #{giveaway.title}
            .modal-body
              = render "giveaways/stats"
          %a{ :"data-toggle" => "modal", :class => "btn btn-large pull-left", :href => "#stats"+"#{giveaway.id}"+"modal" }
            %i.icon-signal
            View Stats
          .modal.hide.fade{ :id => "entries"+"#{giveaway.id}"+"modal" }
            .modal-header
              %a.close{ :"data-dismiss" => "modal"}
                x
              %h3 Entries for #{giveaway.title}
            .modal-body
              = render "giveaways/entries"
          %a{ :"data-toggle" => "modal", :class => "btn btn-large btn-primary pull-left btn-publish", :href => "#entries"+"#{giveaway.id}"+"modal" }
            %i.icon-list.icon-white
            View Entries
    
    
          