%tr
  %td= entry.name
  %td= entry.email
  %td= boolean_table_item(entry.is_viral)
  %td= boolean_table_item(entry.new_fan?)
  %td= entry.wall_post_count
  %td= entry.request_count
  %td= entry.convert_count
  %td= entry.bonus_entries
  %td= entry.created_at.strftime('%m/%e/%Y %l:%M %p')
