- facebook_page = entry.giveaway.facebook_page

%tr.entry-row
  %td
    .entry-name-email
      .entry-name= entry_name(entry)
      .entry-email= truncate(entry.email, :length => 30)
  %td.wrap= entry.email
  - if facebook_page.canhaz_referral_tracking?
    %td= boolean_table_item(entry.is_viral)
  %td= boolean_table_item(entry.new_fan?)
  %td= entry.total_shares
  - if facebook_page.canhaz_advanced_analytics?
    %td= entry.wall_post_count
    %td= entry.send_count
    %td= entry.request_count
  - if facebook_page.canhaz_referral_tracking?
    %td= entry.convert_count
  %td= entry.bonus_entries
  %td.last-child{"data-value" => entry_unix_timestamp(entry)}
    .entry-time
      = entry.created_at.strftime('%m/%d/%Y<br />%l:%M %p').html_safe
