= simple_form_for [page, giveaway], html: { class: 'form-horizontal', multipart: true } do |f|
  %fieldset.basic-info
    %legend Basic Info
    = render "giveaways/form/basic_info", f: f
  %fieldset.schedule
    %legend Schedule
    = render "giveaways/form/schedule", f: f
  %fieldset.images
    %legend Images
    = render "giveaways/form/images", f: f
  %fieldset.terms
    %legend Terms &amp; Conditions
    = render "giveaways/form/terms", f: f
  %fieldset.sticky-post
    %legend Sticky Post
    = render "giveaways/form/sticky_post", f: f
  %fieldset.preferences
    %legend Preferences
    = render "giveaways/form/preferences", f: f

  .form-actions
    = f.button :submit, class: "btn-primary"

:javascript
  $(function() {
    $('input.ui-datetime-picker').datetimepicker({
      ampm: true,
      dateFormat: 'D, dd M yy'
    });
  });