= simple_form_for [page, giveaway], html: { class: 'fluid', multipart: true } do |f|

  = render "giveaways/form/basic_info", f: f

  = render "giveaways/form/schedule", f: f

  = render "giveaways/form/images", f: f

  = render "giveaways/form/terms", f: f

  = render "giveaways/form/preferences", f: f

  .form-actions
    = f.button :submit, class: 'ui teal submit button'
