- if giveaway.status == "Active"

  - content_for :content_header do
    %h2 Active Giveaway > Giveaway Details

  = render 'header', giveaway: giveaway, page: giveaway.facebook_page
  = render 'details', giveaway: giveaway, page: giveaway.facebook_page

- elsif giveaway.status == "Pending"

  - content_for :content_header do
    %h2 Pending Giveaways > #{giveaway.title}

  = render 'header', giveaway: giveaway, page: giveaway.facebook_page
  = render 'details', giveaway: giveaway, page: giveaway.facebook_page

- elsif giveaway.status == "Completed"

  %tr
    %td= image_tag(giveaway.feed_image(:thumb))
    %td= link_to truncate(giveaway.title, length: 26), facebook_page_giveaway_path(giveaway.facebook_page, giveaway)
    %td= giveaway.end_date
    %td= giveaway.entries.count
    %td= giveaway.impressionist_count
