- if giveaway.status == "Active"

  - content_for :content_header do
    %h2 Active Giveaway > Giveaway Details

  = render 'header', giveaway: giveaway, page: giveaway.facebook_page
  = render 'details', giveaway: giveaway, page: giveaway.facebook_page

- elsif giveaway.status == "Pending"

  - content_for :content_header do
    %h2 Pending Giveaways > #{giveaway.title}

  = render 'header', giveaway: giveaway, page: giveaway.facebook_page
  = render 'details', giveaway: giveaway, page: giveaway.facebook_page

- else giveaway.status == "Completed"

  - content_for :content_header do
    %h2 Completed Giveaways > #{giveaway.title}

  = render 'header', giveaway: giveaway, page: giveaway.facebook_page
  = render 'stats', giveaway: giveaway
  = render 'graphs', giveaway: giveaway, page: giveaway.facebook_page, flot: flot
  = render 'entries', giveaway: giveaway, page: giveaway.facebook_page
  = render 'details', giveaway: giveaway, page: giveaway.facebook_page