= render 'header', giveaway: giveaway, page: giveaway.facebook_page

.ui.segment
  = status_label(giveaway)
  = render 'actions', giveaway: giveaway

  - if giveaway.active?

    = render 'active', giveaway: giveaway, page: giveaway.facebook_page, entries: entries, flot: flot

  - elsif giveaway.completed?

    = render 'completed', giveaway: giveaway, page: giveaway.facebook_page, entries: entries, flot: flot

  - else

    = render 'details', giveaway: giveaway, page: giveaway.facebook_page
