- if giveaway.status == "Active"

  %header.giveaway.active.thumbnail
    .image= image_tag(giveaway.image(:medium))
    %h1= truncate(giveaway.title, length: 26)
    %p is #{giveaway.status}
    = link_to "<i class='icon-arrow-left'></i> Back to Stats & Entries".html_safe, active_facebook_page_giveaways_path(@page), class: "btn btn-large"


- elsif giveaway.status == "Pending"

  %header.giveaway.pending.thumbnail
    .image= image_tag(giveaway.image(:medium))
    %h1= truncate(giveaway.title, length: 26)
    %p is #{giveaway.status}
    = render 'publish_button', giveaway: giveaway


- else giveaway.status == "Completed"

  %header.giveaway.completed.thumbnail
    .image= image_tag(giveaway.image(:medium))
    %h1= truncate(giveaway.title, length: 26)
    %p is #{giveaway.status}
