:javascript
  (function() {
    _SG.Config.FB_APP_ID = '#{FB_APP_ID}';
    _SG.Config.SG_SSL_DOMAIN = '#{SG_SSL_DOMAIN}';
    _SG.CurrentGiveaway = #{giveaway_hash.to_json};
    _SG.Paths.likes = '#{likes_path}';
    _SG.Paths.giveawayEntry = '#{facebook_page_giveaway_entries_path(giveaway_hash.current_page, giveaway_hash.giveaway.id)}';

    Object.freeze(_SG);
  }());
