.item.giveaway
  = link_to '', facebook_page_giveaway_path(giveaway.facebook_page, giveaway), class: 'ui circular image masked-avatar', style: "background-image: url('#{giveaway.image(:medium)}');"
  .content.meta
    = link_to giveaway.title, facebook_page_giveaway_path(giveaway.facebook_page, giveaway), class: 'header'
    %small #{giveaway.status}
  .content.stats
    .ui.grid
      - if giveaway.completed?
        .statistic.five.wide.column
          .number= giveaway.entry_count
          .description Entries
        .statistic.five.wide.column
          .number= giveaway.page_likes_while_active
          .description Likes
        .statistic.five.wide.column
          .number= giveaway.total_shares
          .description Shares
      - elsif giveaway.pending? && giveaway.start_date
        .statistic.eight.wide.center.aligned.column
          .description Start Date
          .number= start_date_label(giveaway)
        .eight.wide.right.aligned.column
          = render 'giveaways/pending/start', giveaway: giveaway
          = render 'giveaways/navigation/primary', giveaway: giveaway
      - else
        .sixteen.wide.column
          = render 'giveaways/navigation/primary', giveaway: giveaway



