
- if @page.giveaways.active.empty?
  = link_to "<i class='icon-star icon-white'></i> Publish".html_safe, "#publish_confirm_#{giveaway.id}", :class => "btn btn-large btn-primary btn-publish", :"data-toggle" => "modal"

  .modal.hide.fade{ :id => "publish_confirm_#{giveaway.id}" }
    .modal-header
      %a.close{ :"data-dismiss" => "modal"}
        x
      %h3 Publish #{giveaway.title}
    .modal-body
      = simple_form_for [@page, giveaway], :html => { :class => 'form-horizontal', :multipart => true } do |f|
        %fieldset.schedule
          %legend Publish Settings
          = render "giveaways/form/publish_confirm", :f => f
        .form-actions
          = f.button :submit, :class => "btn-primary"
      = link_to "<i class='icon-remove icon-white'></i> Yes Publish the Giveaway".html_safe, start_facebook_page_giveaway_path(@page, giveaway), :class =>"btn btn-xlarge"
      %p If you want to only modify the end time of the giveaway click here to view and edit the giveaway details.

- else
  %span.btn.btn-large.btn-primary.btn-publish.disabled
    %i.icon-star.icon-white
    Publish

:javascript 
  $(function() {
      $(".btn.disabled").popover({"title": "End Active Giveaway to Publish", "content": "Go to the <a href=\x27/active\x27>Active Giveaway</a> panel to end the active giveaway", "placement": "bottom"});
    });