%h1 Editing giveaway

= render "shared/error_messages", :target => @giveaway
= render 'form'

- content_for :subnav do
  = link_to 'View Details', @giveaway, :class => "btn large"
  - if @giveaway.is_live?
    = link_to "End Giveaway", manual_end_giveaway_path(@giveaway), :confirm => "Are you sure you want to end the giveaway?", :id => "end_giveaway", :class => "btn danger"
  - else
    = link_to "Start Giveaway", manual_start_giveaway_path(@giveaway), :id => "start_giveaway", :class => "btn large primary"