<h1>Listing giveaways</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Content</th>
    <th>Is live</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @giveaways.each do |giveaway| %>
  <tr>
    <td><%= giveaway.title %></td>
    <td><%= giveaway.description %></td>
    <td><%= giveaway.start_date %></td>
    <td><%= giveaway.end_date %></td>
    <td><%= giveaway.content %></td>
    <td><%= giveaway.is_live? %></td>
    <td><%= link_to 'Show', giveaway %></td>
    <td><%= link_to 'Edit', edit_giveaway_path(giveaway) %></td>
    <td><%= link_to 'Destroy', giveaway, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Giveaway', new_giveaway_path %>
