%h1 Listing giveaways
%table
  %tr
    %th Title
    %th Description
    %th Start date
    %th End date
    %th Image
    %th Is live
    %th
    %th
    %th
  - @giveaways.each do |giveaway|
    %tr
      %td= giveaway.title
      %td= giveaway.description
      %td= giveaway.start_date
      %td= giveaway.end_date
      %td= image_tag giveaway.image.url(:thumb)
      %td= giveaway.is_live?
      %td= link_to 'Show', giveaway
      %td= link_to 'Edit', edit_giveaway_path(giveaway)
      %td= link_to 'Destroy', giveaway, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Giveaway', new_giveaway_path
