- content_for :h1 do
  = @giveaway.title
  = link_to image_tag("actions.png", :alt => "View this Giveaway on Facebook"), @giveaway.giveaway_url,
  :target => "_blank", :class => "action", :title => "View this Giveaway on Facebook"

- content_for :subnav do
  = link_to 'Edit Giveaway', edit_giveaway_path(@giveaway), :class => "btn"
  - if @giveaway.is_live?
    = link_to "End Giveaway", manual_end_giveaway_path(@giveaway), :id => "end_giveaway", :class => "btn danger",
    :confirm => "Are you sure you want to end the giveaway?", :method => :get, :'data-type' => "Warning",
    :'data-confirm-text' => "End Giveaway", :'data-cancel-text' => "Nevermind"
  - else
    = link_to "Start Giveaway", manual_start_giveaway_path(@giveaway), :id => "start_giveaway", :class => "btn primary"

.row
  .span3-5.columns.sidebar
    .group.engagement
      %h3.key Engagement
      .field
        .value.highlight= @giveaway.entries.count
        %h5.key= pluralize_without_count(@giveaway.entries.count, "Like")
      .field
        .value.highlight= @giveaway.entries.count
        %h5.key= pluralize_without_count(@giveaway.entries.count, "Entry")
    .group.virality
      %h3.key Virality
      .field
        .value.highlight= @giveaway.total_shares
        %h5.key= pluralize_without_count(@giveaway.total_shares, "Share")
      .field
        .value.highlight= @giveaway.total_requests
        %h5.key= pluralize_without_count(@giveaway.total_requests, "Request")
      .field
        .value.highlight= @giveaway.total_conversions
        %h5.key= pluralize_without_count(@giveaway.total_conversions, "Conversion")
      .field
        .value.highlight= @giveaway.conversion_rate
        %h5.key.wide Conversion Rate
    .group.views
      %h3.key Views
      .field
        .value.highlight= @giveaway.impressionist_count(:filter => :session_hash)
        %h5.key Unique
      .field
        .value.highlight= @giveaway.impressionist_count
        %h5.key Total

  .span11-5.offset-5.columns.sections
    %ul.tabs
      %li.info.active
        = link_to "Basic Info", "#", :class => "info"
      %li.entries
        = link_to "Entries", "#", :class => "entries"
      %li.analytics
        = link_to "Analytics", "#", :class => "analytics"

    %section#info.active
      .span4.aside
        .field
          - if @giveaway.is_installed?
            %span.btn.flag.success This Giveaway is Installed
          - else
            %span.btn.flag.danger This Giveaway is Not Yet Installed
        .field
          - if @giveaway.is_live?
            %span.btn.flag.success This Giveaway is Live
          - else
            %span.btn.flag.danger This Giveaway is Not Yet Live

      .field
        %h3= @giveaway.facebook_page.name
      .field
        %h4 Description
        %p= @giveaway.description
      .field
        %h4 Prize
        %p= @giveaway.prize



      .field
        %h4 Start date
        %p= @giveaway.start_date
      .field
        %h4 End date
        %p= @giveaway.end_date
      .field
        %h4 Image
        %br/
        = image_tag @giveaway.image.url
      .field
        %h4 Feed Image
        %br/
        = image_tag @giveaway.feed_image.url(:feed)
      .field
        %h4 Terms &amp; Conditions
        = link_to @giveaway.terms
      .field
        %h4 Page Administrators
        - @giveaway.facebook_page.users.each do |user|
          %ul.unstyled
            %li
              %span.email
                %strong= link_to user.email, user

    %section#entries

    %section#analytics

:javascript
  $('h1 a.action').tipsy({gravity: 'sw'});