<p id="notice"><%= notice %></p>

<%= render "subnav" %>

<div class="field">
  <b>Admins:</b>
	<% @giveaway.users.each do |user| %>
		<ul>
			<li>
				<span class="email"><strong><%= link_to user.email, user %></strong></span><br />
			</li>
		</ul>
	<% end %>
</div>

<div class="field">
  <b>Facebook Page:</b>
  <%= @giveaway.facebook_page.name %>
</div>

<div class="field">
  <b>Title:</b>
  <%= @giveaway.title %>
</div>

<div class="field">
  <b>Prize:</b>
  <%= @giveaway.prize %>
</div>

<div class="field">
  <b>Description:</b>
  <%= @giveaway.description %>
</div>

<div class="field">
  <b>Start date:</b>
  <%= @giveaway.start_date %>
</div>

<div class="field">
  <b>End date:</b>
  <%= @giveaway.end_date %>
</div>

<div class="field">
	<b>Image:</b><br />
	<%= image_tag @giveaway.image.url %>
</div>

<div class="field">
	<b>Feed Image:</b><br />
	<%= image_tag @giveaway.feed_image.url(:feed) %>
</div>

<div class="field">
  <b>Mandatory Likes:</b>
	<div class="field">
  	<%= mandatory_likes_list(@giveaway) %>
	</div>
</div>

<div class="field">
  <b>Terms &amp; Conditions:</b>
  <%= @giveaway.terms %>
</div>

<div class="field">
  <b>Is live?:</b>
  <%= @giveaway.is_live? %>
</div>

<%= link_to 'Edit', edit_giveaway_path(@giveaway) %> |
<%= link_to 'Back', giveaways_path %>

<div id="fb-root"></div>

<%= javascript_tag do %>
	$(function(){
		// FB Init
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId  : '224405887571151',
	      status : true, // check login status
	      cookie : true, // enable cookies to allow the server to access the session
	      xfbml  : true  // parse XFBML
	    });
			// Trigger add tab dialog
			$("#start_giveaway").click(function(e){
				e.preventDefault();
				FB.ui(
				  { method: 'profile.addtab' },
				  function(response) {
				    if (response && response.post_id) {
				      alert('Giveaway was successfully started.');
				    } else {
				      alert('Giveaway could not be started.');
				    }
				  }
				);
			});
	  };
		// FB JavaScript Async Load
	  (function() {
	    var e = document.createElement('script');
	    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	    e.async = true;
	    document.getElementById('fb-root').appendChild(e);
	  }());
	});
<% end %>