<p id="notice"><%= notice %></p>

<%= render "subnav" %>

<div class="field">
  <b>Admins:</b>
	<% @giveaway.users.each do |user| %>
		<ul>
			<li>
				<span class="email"><strong><%= link_to user.email, user %></strong></span><br />
			</li>
		</ul>
	<% end %>
</div>

<div class="field">
  <b>Facebook Page:</b>
  <%= @giveaway.facebook_page.name %>
</div>

<div class="field">
  <b>Title:</b>
  <%= @giveaway.title %>
</div>

<div class="field">
  <b>Prize:</b>
  <%= @giveaway.prize %>
</div>

<div class="field">
  <b>Description:</b>
  <%= @giveaway.description %>
</div>

<div class="field">
  <b>Start date:</b>
  <%= @giveaway.start_date %>
</div>

<div class="field">
  <b>End date:</b>
  <%= @giveaway.end_date %>
</div>

<div class="field">
	<b>Image:</b><br />
	<%= image_tag @giveaway.image.url %>
</div>

<div class="field">
	<b>Feed Image:</b><br />
	<%= image_tag @giveaway.feed_image.url(:feed) %>
</div>

<div class="field">
  <b>Mandatory Likes:</b>
	<div class="field">
  	<%= mandatory_likes_list(@giveaway) %>
	</div>
</div>

<div class="field">
  <b>Terms &amp; Conditions:</b>
  <%= @giveaway.terms %>
</div>

<div class="field">
  <b>Is live?:</b>
  <%= @giveaway.is_live? %>
</div>

<%= link_to 'Edit', edit_giveaway_path(@giveaway) %> |
<%= link_to 'Back', giveaways_path %>