<div id="enter_giveaway">
  <a href="#">Enter Giveaway</a>
</div>
<div id="giveaway_image">
  <%= image_tag @giveaway.image.url %>
</div>
<%= @signed_request %>

<div id="fb-root"></div>
<%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" %>
<%= javascript_tag do %>
  FB.init({
    appId  : '<%= FB_APP_ID %>',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });

  $(function(){
    $("#enter_giveaway a").click(function(e){
      e.preventDefault();
      FB.ui({
        method: 'oauth',
        client_id: '<%= FB_APP_ID %>',
        perms: 'email,user_location,user_birthday,user_likes,publish_stream'
      },
      function(response) {
        if (response.session) {
          var thesession = response.session;
          var thesession = eval('(' + thesession + ')'); //decode json
          $.ajax({
            type: 'POST',
            url: 'http://simplegiveawayapp.com/giveaways/tab.html',
            dataType: 'json',
            data: 'session_key=' + thesession.session_key,
            success: function(xhr_response){
              alert(xhr_response);
            }
          });
        } else {
          // if permission Not Allowed
        }
      });
    });
  });
<% end %>