%header.site
  - if signed_in?
    %h1= link_to APPLICATION_NAME, user_path(current_user), :class => "brand"
    .btn-group.account
      = link_to "Account", "#", :class => "btn btn-large mypages"
      %a{:href => "#", :class => "btn btn-large dropdown-toggle", :"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu.pull-right
        %li= link_to "Dashboard", user_path(current_user)
        %li= link_to "Log Out", logout_path
    .btn-group.my_pages
      = link_to "My Pages", "#", :class => "btn btn-large mypages"
      %a{:href => "#", :class => "btn btn-large dropdown-toggle", :"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - current_user.facebook_pages.each do |page|
          %li= link_to page.name, facebook_page_path(page)
  - else
    %h1= link_to APPLICATION_NAME, root_path, :class => "brand"

