%nav.topbar-wrapper{:style => "z-index: 5;"}
  .topbar
    .fill
      .container
        %h3
          = link_to APPLICATION_NAME, root_path
        %ul
          %li.active
            = link_to "Home", root_path
          %li
            = link_to "Tour", "#"
          %li
            = link_to "Pricing", "#"
          %li
            = link_to "Contact", "#"
        %ul.nav.secondary-nav
          %li.menu
            - if user_signed_in?
              = link_to current_user.name, "#", :class => "menu"
              %ul.menu-dropdown
                %li
                  = link_to "Dashboard", user_path(current_user)
                %li
                  = link_to "Settings", "#"
                %li
                  = link_to "Help", "#"
                %li.divider
                %li
                  = link_to "Log Out", destroy_user_session_path
            - else
              = link_to "Log In", "/auth/facebook"
