- if @page.nil? && @giveaway
  - @page = @giveaway.facebook_page

- if @page

  %header.page
    = link_to image_tag(@page.avatar_square, :alt => @page.name, :width => "180", :height => "180"), facebook_page_path(@page), :class => "avatar"
    %h1.page_title= @page.name
    %p.page_subtitle #{@page.likes} Likes
    %nav
      %ul.nav.nav-list
        %li{:class => active_nav_item("active")}
          = link_to "<i class='icon-star'></i> Active".html_safe, active_facebook_page_giveaways_path(@page)
      %ul.nav.nav-list
        %li{:class => active_nav_item("pending")}
          = link_to "<i class='icon-inbox'></i> Pending".html_safe, pending_facebook_page_giveaways_path(@page)
        %li{:class => active_nav_item("completed")}
          = link_to "<i class='icon-ok'></i> Completed".html_safe, completed_facebook_page_giveaways_path(@page)
        / %li
        /   %a{ :href => "#page_stats", :"data-toggle" => "tab"}
        /     %i.icon-signal
        /     Page Stats

      %a{ :href => new_facebook_page_giveaway_path(@page), :class => "btn btn-large btn-success create-giveaway" }
        %i.icon-plus.icon-white
        Create Giveaway

- elsif @user

  %header.page
    = link_to image_tag( current_user.avatar , :alt => current_user.name, :width => "125", :height => "125"), "#", :class => "avatar"
    %h1.page_title= current_user.name
    %p.page_subtitle <span class="dynamo">#{current_user.facebook_pages.count}</span> Pages
    