<!DOCTYPE html>
<html>
<head>
  <title>SGA &raquo; <%= content_for?(:title) ? content_for(:title) : "" %></title>
  <%= include_stylesheets :app %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
	
	<% unless flash.blank? or flash.nil? %>
		<%= render "shared/flash", :flash => flash %>
	<% end %>
	
	<div id="container">
		<%= render "layouts/nav" %>
		<%= render "layouts/header" %>
		<%= yield %>
		<%= render "layouts/footer" %>
	</div>
	
</body>
</html>