<!DOCTYPE html>
<html>
<head>
  <title>SGA &raquo; <%= content_for?(:title) ? content_for(:title) : "" %></title>
  <%= include_stylesheets :app, :media => 'all' %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
	
	<% unless flash.blank? or flash.nil? %>
		<%= render :partial => "layouts/flash", :locals => { :flash => flash } %>
	<% end %>
	
	<div id="container">
		<%= render "layouts/nav" %>
		<%= render "layouts/header" %>
		<%= yield %>
		<%= render "layouts/footer" %>
	</div>
	
</body>
</html>