!!!
%html{lang: "en", class: "app"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "224405887571151", property: "fb:app_id"}
    %title Simple Giveaways

    %meta{content: "Easily create, deploy, and manage giveaways on your Facebook pages.", name: "description"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}

    = google_analytics_tracking_javascript

    = javascript_include_tag :jquery
    = javascript_include_tag :sg

    = stylesheet_link_tag :application

    = csrf_meta_tags

  %body
    = render 'shared/flash', flash: flash
    = render 'shared/init_breadcrumbs'
    %section.vbox
      = render 'layouts/header'
      %section
        %section.hbox.stretch
          = render 'layouts/sidebar'
          = render 'layouts/content'
          %aside#notes.bg-light.lter.b-l.aside-md.hide
            .wrapper Notification

    #start_giveaway_modal.modal.fade
    #hover_popover_container
    #modal_pickadate_outlet

    = javascript_include_tag :application
    = render 'shared/init_globals'
