!!!
/[if lt IE 8] <html class="ie7" lang="en">
/[if IE 8] <html class="ie8" lang="en">
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{lang: 'en'}<>
  <!--<![endif]-->
  %head
    %meta{charset: "utf-8"}
    %meta{content: "224405887571151", property: "fb:app_id"}
    %title Simple Giveaways

    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "Easily create, deploy, and manage giveaways on your Facebook pages.", name: "description"}

    = google_analytics_tracking_javascript

    /[if lt IE 9]
      = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"

    /[if lte IE 8]
      = javascript_include_tag "//explorercanvas.googlecode.com/svn/trunk/excanvas.js"

    = stylesheet_link_tag    :application
    = javascript_include_tag :application

    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700"

    = csrf_meta_tags

  %body.application{ class: body_class }

    = render "shared/init_globals"

    #fb-root.logged-in{ :'data-uid' => uid_class }

    #flash_messages
      = render 'shared/flash', flash: flash

    .ui.one.column.page.grid
      .column
        #sg_header.clearfix= render 'layouts/header'
        #sg_page.clearfix
          .ui.relaxed.stackable.grid
            .row
            .row
            .row
              - if content_for?(:layout)
                = yield(:layout)
              - else
                = render 'layouts/page'

    %noscript= utm_tag
