<!doctype html>
<html lang="en">
<head> 
  <meta charset="utf-8"> 
	<title><%= @giveaway.title %></title> 
 
	<meta name="description" content="<%= @giveaway.description %>" /> 
	<meta name="keywords" content="" /> 
	<meta name="author" content="" /> 
 
	<%= stylesheet_link_tag "/stylesheets/tab.css" %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>

	<!--[if lt IE 9]>
  <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
	<![endif]-->
</head> 
 
<body>
	<div id="tab_container">
		<%= yield %>
	</div>
</body>
</html>