!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title= @giveaway_hash.giveaway.title
    = google_analytics_tracking_javascript
    %meta{content: @giveaway_hash.giveaway.description, name: "description"}/
    = stylesheet_link_tag :tab
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag :tab
    = csrf_meta_tags
  %body
    = render "giveaways/init_tab_globals", giveaway_hash: @giveaway_hash
    #tab_container
      = yield

    %noscript= utm_tag