!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Simple Giveaways

    = google_analytics_tracking_javascript

    %meta{content: "", name: "description"}

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    /[if lte IE 8]
      = javascript_include_tag "http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"
      = stylesheet_link_tag  "jquery-ui-bootstrap/jquery.ui.1.8.16.ie.css"

    = stylesheet_link_tag    "welcome"
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body.welcome
    = render "shared/init_globals"
    #fb-root.logged-out
    = render "shared/flash", flash: flash
    .facebook
      .paper
        .left
          %h1 Simple Giveaways
          %h2 Easily Create, Deploy, and Manage Giveaways for your Facebook Pages
          / Begin MailChimp Signup Form
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{:action => "http://simplegiveaways.us5.list-manage.com/subscribe/post?u=fe8c98f13d3a215ac2bfa9ea1&id=2c69ad9d37", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              %h3 We are currently in closed beta.
              %h4 Please leave your email address to be notified when we launch.
              .mc-field-group
                %label{:for => "mce-EMAIL"} Email
                %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}
              #mce-responses.clear
                #mce-error-response.response{:style => "display:none"}
                #mce-success-response.response{:style => "display:none"}
              .clear
                %input#mc-embedded-subscribe.button{:name => "submit", :type => "submit", :value => "submit"}/
          / End mc_embed_signup
        .right
          = yield

    %noscript= utm_tag
