<!DOCTYPE html>
<html>
<head>
  <title>SGA</title>
  <%= include_stylesheets :welcome %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
</head>
<body class="welcome">

	<% unless flash.blank? or flash.nil? %>
		<%= render "shared/flash", :flash => flash %>
	<% end %>

	<div id="container">
		<%= render "layouts/nav" %>
		<%= render "layouts/header" %>
		<%= yield %>
		<%= render "layouts/footer" %>
	</div>

</body>
</html>